nav {
    background-color: #DDD;
    text-align: center;
}

main {
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

footer {
    width: 100%;
    background-color: #ddd;
    height: 100px;
    margin-top: 100px;
}

div {
    display: inline-block;
    width: 200px;
    height: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
}

main > section {
    background-color: black;
    width: 960px;
    height: 450px;
    text-align: center;
    margin:auto;
    
}


main > figure {
    background-color:black;
    display: inline-block;
    width: 300px;
    height: 375px;
    text-align: center;
    margin-top:30px;
    margin:13px;
}


main > span > figure {
    display: inline-block;
    margin-top:30px;
    background-color: black;
    margin-left: 0px;
    width: 480px;
    height: 400px;
}


main > span > article > p {
    display: inline-block;
    border: solid black;
    background-color: white;
    width: 480px;
    height: 400px;
    overflow: scroll;
}
